name: build

on:
  push:
    branches:
      - "main"

jobs:
  build:
    name: build docker image
    runs-on: arc-runner-set
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver: docker

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: false
          tags: ghcr.io/vasiliy-t/terraform-vkcs-docker:latest
